In [24]:
import pandas as pd
pd.options.display.max_columns = None
from datetime import datetime

In [10]:
data = pd.read_csv("2015_texas.csv")

In [19]:
data[data['Unit Description'] == "98 - OTHER  (EXPLAIN IN NARRATIVE)"]

,Crash ID,City,County,Crash Date,Crash Time,Intersecting Street Name,Latitude,Longitude,Street Name,Unit Description,Unit Number,Vehicle Body Style,Vehicle Hit and Run Flag,Vehicle Make,Vehicle Model Name,Vehicle Model Year,VIN,Charge,Person Age,Person Gender,Person Injury Severity,Person Type
4705,14273570,FORT WORTH,TARRANT,2015-02-14,420,NaN,32.83957312,-97.31204171,IH0820,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,46,1 - MALE,N - NOT INJURED,98 - OTHER (EXPLAIN IN NARRATIVE)
17588,14476848,OUTSIDE CITY LIMITS,TRAVIS,2015-06-06,2127,NaN,30.12921029,-97.82286689,TWIN CREEKS RD,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,28,1 - MALE,A - SUSPECTED SERIOUS INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)
28724,14650774,OUTSIDE CITY LIMITS,BASTROP,2015-09-05,2215,NaN,30.09859996,-97.46448368,W MCDONALD LN,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,25,1 - MALE,K - FATAL INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)
28725,14650774,OUTSIDE CITY LIMITS,BASTROP,2015-09-05,2215,NaN,30.09859996,-97.46448368,W MCDONALD LN,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,28,2 - FEMALE,B - SUSPECTED MINOR INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)
32384,14675380,OUTSIDE CITY LIMITS,JASPER,2015-10-04,1956,NaN,30.95466644,-94.03694909,FM2800,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,16,1 - MALE,A - SUSPECTED SERIOUS INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)
32698,14689656,OUTSIDE CITY LIMITS,PECOS,2015-10-06,1314,N WATER ST,30.91837485,-102.87805119,W 42ND LN,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,OPERATE UNREGISTERED/IMPROPERLY REGISTERED M...,65,1 - MALE,N - NOT INJURED,98 - OTHER (EXPLAIN IN NARRATIVE)
33870,14698958,OUTSIDE CITY LIMITS,CORYELL,2015-10-15,822,NaN,31.43844265,-97.81038435,US0084,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,44,1 - MALE,C - POSSIBLE INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)
40794,14800433,OUTSIDE CITY LIMITS,HARRIS,2015-12-07,1212,NaN,29.91327507,-95.04626709,US0090,98 - OTHER (EXPLAIN IN NARRATIVE),4,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,51,1 - MALE,N - NOT INJURED,98 - OTHER (EXPLAIN IN NARRATIVE)
42501,14832568,DALLAS,DALLAS,2015-12-20,2346,NaN,32.82232665,-96.85039136,HARRY HINES BLVD,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,33,1 - MALE,N - NOT INJURED,98 - OTHER (EXPLAIN IN NARRATIVE)
42700,14827141,OUTSIDE CITY LIMITS,UPSHUR,2015-12-22,1940,NaN,32.77688172,-94.94637819,US0271,98 - OTHER (EXPLAIN IN NARRATIVE),2,No Data,No Data,No Data,No Data,No Data,No Data,NO CHARGES,18,1 - MALE,A - SUSPECTED SERIOUS INJURY,98 - OTHER (EXPLAIN IN NARRATIVE)

In [30]:
import math
for x in data.index:
    print(data['Crash Date'][x])
    print(data['Crash Time'][x])
    time = data['Crash Time'][x]
    if pd.isnull(time):
        time = 0
    minutes = str(time % 100).zfill(2)
    hours = str(math.floor(time/100)).zfill(2)
    print(hours)
    print(minutes)
    # timestamp = datetime.strptime(str(data['Crash Date'][x] + "T" + time, "%Y-%m-%dT%H:%M:%S"))
    print(timestamp)
    break

2015-01-01
112
1
12

NameError: name 'timestamp' is not defined

In [12]:
data['Unit Description'].unique()

array(['1 - MOTOR VEHICLE', '4 - PEDESTRIAN', '2 - TRAIN',
       '3 - PEDALCYCLIST', '6 - TOWED/PUSHED/TRAILER', '7 - NON-CONTACT',
       '5 - MOTORIZED CONVEYANCE', '98 - OTHER  (EXPLAIN IN NARRATIVE)'],
      dtype=object)