In [4]:
import pandas as pd
import os
pd.set_option('display.max_columns', None)

In [90]:
collisions = pd.read_csv("early_data/collisions.csv")
parties = pd.read_csv("early_data/parties.csv")
victims = pd.read_csv("early_data/victims.csv")

In [107]:
collisions.sort_values("case_id", ascending=False).head(300)

,case_id,primary_road,secondary_road,collision_date,collision_time,county_location,type_of_collision,killed_victims,injured_victims,latitude,longitude
174526,9.870011e+18,LEAR AV,IRONAGE RD,2001-12-08,07:25:00,san bernardino,head-on,1.0,1.0,NaN,NaN
174525,9.870011e+18,PIONEERTOWN RD,SUNNYSLOPE DR,2001-12-01,19:07:00,san bernardino,overturned,0.0,4.0,NaN,NaN
174524,9.870011e+18,ALTA LOMA DR,ALTA AV,2001-12-01,18:35:00,san bernardino,other,0.0,1.0,NaN,NaN
174523,9.870011e+18,PIPES CYN RD,RT 247,2001-10-31,06:35:00,san bernardino,overturned,1.0,1.0,NaN,NaN
174522,9.870011e+18,RT 62,SADDLEBACK RD,2001-10-05,16:15:00,san bernardino,rear end,1.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
174231,9.850010e+18,WILSON RCH RD,AVENAL,2001-01-09,11:35:00,san bernardino,head-on,0.0,1.0,NaN,NaN
174230,9.840011e+18,RT 15 NBON/R,HIDDEN VLY PKWY,2001-12-28,23:03:00,riverside,hit object,0.0,2.0,NaN,NaN
174229,9.840011e+18,MENIFEE RD,MOUNTAIN AV,2001-12-28,17:10:00,riverside,rear end,0.0,2.0,NaN,NaN
174228,9.840011e+18,RT 60,VALLEY WY,2001-12-26,06:45:00,riverside,hit object,1.0,0.0,NaN,NaN
174227,9.840011e+18,ROYALTY RD,TOURNAMENT DR,2001-12-25,19:55:00,riverside,hit object,0.0,1.0,NaN,NaN

In [92]:
type(collisions['collision_time'][1])

str

In [97]:
parties['party_type'].unique()

array(['driver', 'pedestrian', 'bicyclist', 'parked vehicle', 'other',
       nan], dtype=object)

In [95]:
victims['victim_degree_of_injury'].unique()

array(['severe injury', 'no injury', 'killed', 'other visible injury',
       'complaint of pain'], dtype=object)

TypeError: cannot unpack non-iterable int object

In [18]:
crashes['POINT_Y'][2995]

nan

In [16]:
victims['VICTIM_DEGREE_OF_INJURY'].unique()

array([1, 0, 2, 5, 6, 7, 4, 3])

In [32]:
test = crashes[crashes['COLLISION_TIME']>=2400]
for x in test.index:
    print(x)

54
127
163
230
331
396
436
621
705
911
1199
1440
1459
1603
1638
1642
1774
1852
1899
2142
2563
2599
2642
2800
2827

In [55]:
crashes[pd.isnull(crashes["LATITUDE"])]

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,POPULATION,CNTY_CITY_LOC,SPECIAL_COND,BEAT_TYPE,CHP_BEAT_TYPE,CITY_DIVISION_LAPD,CHP_BEAT_CLASS,BEAT_NUMBER,PRIMARY_RD,SECONDARY_RD,DISTANCE,DIRECTION,INTERSECTION,WEATHER_1,WEATHER_2,STATE_HWY_IND,CALTRANS_COUNTY,CALTRANS_DISTRICT,STATE_ROUTE,ROUTE_SUFFIX,POSTMILE_PREFIX,POSTMILE,LOCATION_TYPE,RAMP_INTERSECTION,SIDE_OF_HWY,TOW_AWAY,COLLISION_SEVERITY,NUMBER_KILLED,NUMBER_INJURED,PARTY_COUNT,PRIMARY_COLL_FACTOR,PCF_CODE_OF_VIOL,PCF_VIOL_CATEGORY,PCF_VIOLATION,PCF_VIOL_SUBSECTION,HIT_AND_RUN,TYPE_OF_COLLISION,MVIW,PED_ACTION,ROAD_SURFACE,ROAD_COND_1,ROAD_COND_2,LIGHTING,CONTROL_DEVICE,CHP_ROAD_TYPE,PEDESTRIAN_ACCIDENT,BICYCLE_ACCIDENT,MOTORCYCLE_ACCIDENT,TRUCK_ACCIDENT,NOT_PRIVATE_PROPERTY,ALCOHOL_INVOLVED,STWD_VEHTYPE_AT_FAULT,CHP_VEHTYPE_AT_FAULT,COUNT_SEVERE_INJ,COUNT_VISIBLE_INJ,COUNT_COMPLAINT_PAIN,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
1,7136447,2015,2015-12-15,5407,2015-11-20,1450,M222,480,5,5,5,5407,0,0,0,NaN,0,034,ASHLAND,GIDDINGS,340.0,E,N,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,2,0,1,1,A,-,17,21712.0,A,N,-,A,A,A,-,-,A,A,0,NaN,NaN,NaN,NaN,Y,NaN,A,07,1,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,VISALIA,-119.304117,36.308124
14,6498499,2014,2016-04-08,5406,2014-04-16,2003,52,5406,3,5,4,5406,0,0,0,NaN,0,0WS,INYO,H ST,122.0,W,N,A,-,Y,TUL,6.0,137.0,-,-,15.19,H,-,E,N,2,0,1,2,A,-,11,21954.0,A,N,A,B,D,A,H,-,C,D,0,Y,NaN,NaN,NaN,Y,Y,N,60,1,0,0,0,1,0,0,0,0,-,-,NaN,NaN,TULARE,TULARE,-119.350215,36.204728
17,8078519,2016,2016-07-18,5407,2016-06-02,344,M66,480,4,5,5,5407,0,0,0,NaN,0,026,ST JOHNS PKWY,CAIN,230.0,E,N,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2,0,2,1,A,-,03,22350.0,NaN,N,E,I,A,A,H,-,C,D,0,NaN,NaN,NaN,NaN,Y,NaN,A,01,2,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,VISALIA,-119.273630,36.350400
18,8939309,2019,2021-05-28,5406,2019-08-24,1924,41,NaN,6,5,4,5406,0,0,0,NaN,0,03A,RT 137,N,28.0,E,N,A,-,Y,TUL,6.0,137.0,-,-,15.87,H,-,E,N,1,1,0,2,A,-,11,21954.0,A,N,G,B,D,A,H,-,B,A,0,Y,NaN,NaN,NaN,Y,NaN,N,60,0,0,0,1,0,0,0,0,0,-,-,NaN,NaN,TULARE,TULARE,-119.341415,36.208702
26,9083136,2020,2020-07-07,5406,2020-03-17,645,30,5406,2,5,4,5406,0,0,0,NaN,0,0AO,TULARE,ENTERPRISE,0.0,NaN,Y,E,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2,0,1,2,A,-,12,22450.0,A,N,D,C,A,B,H,-,A,A,0,NaN,NaN,NaN,Y,Y,NaN,A,07,1,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,TULARE,-119.384369,36.210739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,9753280,2024,2024-12-06,5405,2024-10-13,1329,263,SEC3,7,5,4,5405,0,0,0,NaN,0,NaN,RT 190,PIKE ST,291.0,W,N,A,-,Y,TUL,6.0,190.0,-,-,18.04,H,-,E,Y,2,0,1,1,A,-,01,23152.0,B,N,E,I,A,A,H,-,A,D,0,NaN,NaN,NaN,NaN,Y,Y,A,01,1,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,PORTERVILLE,-118.988968,36.051102
2991,9781116,2024,2025-02-07,5401,2024-11-27,1910,2127,5401,3,5,3,5401,0,0,0,NaN,0,NaN,E ELMONTE WY,N K ST,0.0,NaN,Y,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2,0,1,2,C,-,18,NaN,NaN,N,G,B,D,A,H,-,C,D,0,Y,NaN,NaN,NaN,Y,NaN,-,-,1,0,0,0,1,0,0,0,0,-,-,NaN,NaN,TULARE,DINUBA,-119.393929,36.545849
2993,9793609,2025,2025-03-20,5407,2025-02-11,753,12844,480,2,5,5,5407,0,0,0,NaN,0,011,MINERAL KING,DEMAREE,0.0,NaN,Y,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2,0,1,3,A,-,12,21453.0,A,N,D,C,A,A,H,-,A,A,0,NaN,NaN,NaN,NaN,Y,NaN,A,01,1,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,VISALIA,-119.331772,36.327610
2994,9807416,2025,2025-05-29,5403,2025-04-14,946,844,NaN,1,5,2,5403,0,0,0,NaN,0,NaN,W VISALIA RD,VENTURA AV,138.0,S,N,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2,0,1,2,A,-,09,21801.0,A,M,D,C,A,A,H,-,A,D,0,NaN,NaN,NaN,NaN,Y,Y,A,01,1,0,0,0,0,0,0,0,0,-,-,NaN,NaN,TULARE,FARMERSVILLE,-119.211723,36.297791
2995,9830173,2025,2025-07-30,5401,2025-04-13,2321,2129,5401,7,5,3,5401,0,0,0,NaN,0,00B,E EL MONTE WY,POLE 121009562,1988.0,E,N,A,-,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,2,0,1,2,A,-,09,21804.0,A,N,D,G,A,A,H,-,C,D,0,NaN,Y,NaN,NaN,Y,NaN,L,04,1,0,0,0,0,0,1,0,0,-,-,NaN,NaN,TULARE,DINUBA,NaN,NaN

In [48]:
parties[pd.isnull(parties['STWD_VEHICLE_TYPE'])]

Empty DataFrame
Columns: [CASE_ID, PARTY_NUMBER, PARTY_TYPE, AT_FAULT, PARTY_SEX, PARTY_AGE, PARTY_SOBRIETY, PARTY_DRUG_PHYSICAL, DIR_OF_TRAVEL, PARTY_SAFETY_EQUIP_1, PARTY_SAFETY_EQUIP_2, FINAN_RESPONS, SP_INFO_1, SP_INFO_2, SP_INFO_3, OAF_VIOLATION_CODE, OAF_VIOL_CAT, OAF_VIOL_SECTION, OAF_VIOLATION_SUFFIX, OAF_1, OAF_2, PARTY_NUMBER_KILLED, PARTY_NUMBER_INJURED, MOVE_PRE_ACC, VEHICLE_YEAR, VEHICLE_MAKE, STWD_VEHICLE_TYPE, CHP_VEH_TYPE_TOWING, CHP_VEH_TYPE_TOWED, RACE, INATTENTION, SPECIAL_INFO_F, SPECIAL_INFO_G, ACCIDENT_YEAR]
Index: []

In [37]:
parties

,CASE_ID,PARTY_NUMBER,PARTY_TYPE,AT_FAULT,PARTY_SEX,PARTY_AGE,PARTY_SOBRIETY,PARTY_DRUG_PHYSICAL,DIR_OF_TRAVEL,PARTY_SAFETY_EQUIP_1,PARTY_SAFETY_EQUIP_2,FINAN_RESPONS,SP_INFO_1,SP_INFO_2,SP_INFO_3,OAF_VIOLATION_CODE,OAF_VIOL_CAT,OAF_VIOL_SECTION,OAF_VIOLATION_SUFFIX,OAF_1,OAF_2,PARTY_NUMBER_KILLED,PARTY_NUMBER_INJURED,MOVE_PRE_ACC,VEHICLE_YEAR,VEHICLE_MAKE,STWD_VEHICLE_TYPE,CHP_VEH_TYPE_TOWING,CHP_VEH_TYPE_TOWED,RACE,INATTENTION,SPECIAL_INFO_F,SPECIAL_INFO_G,ACCIDENT_YEAR
0,6292423,1,4,Y,M,67,A,-,N,-,-,O,-,3,-,-,-,NaN,NaN,N,-,1,0,B,NaN,-,L,4.0,NaN,H,NaN,-,-,2015
1,6292423,2,1,N,F,40,A,-,N,M,G,N,-,3,-,-,-,NaN,NaN,N,-,0,0,I,2008.0,INFINITI,A,1.0,NaN,H,NaN,-,-,2015
2,9236533,1,1,N,M,40,G,G,W,P,G,NaN,-,3,-,-,-,NaN,NaN,N,-,0,2,M,NaN,-,C,6.0,NaN,NaN,NaN,-,-,2020
3,9378016,1,1,Y,M,51,A,-,S,M,G,Y,-,3,-,-,-,NaN,NaN,N,-,0,0,B,2016.0,-,D,22.0,NaN,NaN,NaN,-,-,2021
4,9378016,2,1,N,F,19,A,-,S,L,G,Y,-,3,-,-,-,NaN,NaN,N,-,0,1,A,2015.0,-,A,1.0,NaN,NaN,NaN,-,-,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5381,9807416,2,1,N,M,29,-,-,E,M,G,Y,-,3,-,-,-,NaN,NaN,N,-,0,1,B,2021.0,-,A,1.0,NaN,H,NaN,-,-,2025
5382,9830173,1,4,Y,M,20,G,G,E,-,-,NaN,-,-,-,-,-,NaN,NaN,N,-,0,1,B,NaN,-,L,4.0,NaN,H,NaN,-,-,2025
5383,9830173,2,1,N,M,38,A,-,W,M,G,Y,-,3,-,-,-,NaN,NaN,N,-,0,0,B,2017.0,-,A,7.0,NaN,H,NaN,-,-,2025
5384,9871287,1,4,Y,F,40,A,-,E,-,-,NaN,-,3,-,-,-,NaN,NaN,N,-,0,1,N,NaN,-,L,4.0,NaN,W,NaN,-,-,2025
5385,9871287,2,1,N,M,78,A,-,N,-,-,Y,-,3,-,-,-,NaN,NaN,N,-,0,0,B,2006.0,-,A,1.0,NaN,NaN,NaN,-,-,2025

In [80]:
parties

,case_id,party_number,party_type,party_age,party_sex,vehicle_year,vehicle_make,statewide_vehicle_type
0,3.899490e+06,1,driver,49.0,male,1990.0,plymouth,passenger car
1,3.899490e+06,2,driver,64.0,female,2004.0,nissan,passenger car
2,3.899490e+06,3,driver,46.0,male,2001.0,ford,passenger car
3,3.899490e+06,4,driver,45.0,male,2007.0,toyota,passenger car
4,3.982906e+06,1,driver,67.0,female,2005.0,toyota,passenger car
...,...,...,...,...,...,...,...,...
321996,9.870011e+18,1,driver,58.0,male,2000.0,chevrolet,passenger car
321997,9.870011e+18,2,driver,55.0,male,1995.0,nissan,passenger car
321998,9.870011e+18,1,driver,46.0,female,1987.0,nissan,passenger car
321999,9.870011e+18,2,driver,NaN,female,1993.0,ford,pickup or panel truck
322000,9.870011e+18,3,driver,53.0,male,1976.0,ford,passenger car

In [82]:
victims.head(20)

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
0,6292423,1,1,4,M,67,1,1,V,-,1,TULARE,UNINCORPORATED,2015
1,6292423,2,1,2,F,13,0,3,M,G,0,TULARE,UNINCORPORATED,2015
2,6292423,2,2,2,M,8,0,6,P,G,0,TULARE,UNINCORPORATED,2015
3,6292423,2,3,2,F,9,0,5,P,G,0,TULARE,UNINCORPORATED,2015
4,6292423,2,4,2,M,11,0,4,P,G,0,TULARE,UNINCORPORATED,2015
5,7136447,1,1,2,M,11,2,0,N,H,1,TULARE,VISALIA,2015
6,9236533,1,1,2,M,32,5,3,P,G,0,TULARE,VISALIA,2020
7,9236533,1,2,2,M,28,6,6,P,G,0,TULARE,VISALIA,2020
8,9378016,1,1,2,M,25,0,2,M,G,0,TULARE,VISALIA,2021
9,9378016,2,1,2,F,52,5,2,L,G,0,TULARE,VISALIA,2021
10,9378016,5,1,2,F,31,0,-,-,-,-,TULARE,VISALIA,2021
11,9378016,5,2,2,M,2,0,-,-,-,-,TULARE,VISALIA,2021
12,90530536,1,1,1,F,46,2,1,M,G,0,TULARE,UNINCORPORATED,2017
13,90666537,1,1,1,F,20,5,1,L,G,0,TULARE,UNINCORPORATED,2018
14,92112169,1,1,1,F,25,7,1,B,G,0,TULARE,UNINCORPORATED,2023
15,92112169,1,2,2,F,19,6,6,B,G,0,TULARE,UNINCORPORATED,2023
16,92112169,1,3,2,F,21,6,4,B,G,0,TULARE,UNINCORPORATED,2023
17,92112169,1,4,2,F,20,5,3,B,G,0,TULARE,UNINCORPORATED,2023
18,92146473,1,1,1,M,37,5,1,L,H,0,TULARE,UNINCORPORATED,2023
19,92146473,3,1,2,M,25,6,3,L,G,0,TULARE,UNINCORPORATED,2023

In [86]:
victims['VICTIM_DEGREE_OF_INJURY'].value_counts()

5    1852
1     893
2     881
6     609
7     535
0     357
4     329
3     286
Name: VICTIM_DEGREE_OF_INJURY, dtype: int64

In [89]:
victims[victims['VICTIM_DEGREE_OF_INJURY'] == 5]

,CASE_ID,PARTY_NUMBER,VICTIM_NUMBER,VICTIM_ROLE,VICTIM_SEX,VICTIM_AGE,VICTIM_DEGREE_OF_INJURY,VICTIM_SEATING_POSITION,VICTIM_SAFETY_EQUIP_1,VICTIM_SAFETY_EQUIP_2,VICTIM_EJECTED,COUNTY,CITY,ACCIDENT_YEAR
6,9236533,1,1,2,M,32,5,3,P,G,0,TULARE,VISALIA,2020
9,9378016,2,1,2,F,52,5,2,L,G,0,TULARE,VISALIA,2021
13,90666537,1,1,1,F,20,5,1,L,G,0,TULARE,UNINCORPORATED,2018
17,92112169,1,4,2,F,20,5,3,B,G,0,TULARE,UNINCORPORATED,2023
18,92146473,1,1,1,M,37,5,1,L,H,0,TULARE,UNINCORPORATED,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5729,9753280,1,1,1,M,24,5,1,L,H,1,TULARE,PORTERVILLE,2024
5730,9760537,1,1,1,M,23,5,1,L,G,0,TULARE,TULARE,2024
5731,9760537,2,1,1,F,54,5,1,L,G,0,TULARE,TULARE,2024
5735,9791865,2,1,1,M,79,5,1,L,G,0,TULARE,TULARE,2025
5741,9871287,1,1,4,F,40,5,-,-,-,-,TULARE,VISALIA,2025

In [83]:
files = os.listdir("/home/tonydeals/app/ntsb/california")

# Print the files
for file in files:
    if "." in file:
        continue
    crashes_path = f"/home/tonydeals/app/ntsb/california/{file}/Crashes.csv"
    parties_crash = f"/home/tonydeals/app/ntsb/california/{file}/Parties.csv"
    victims_path = f"/home/tonydeals/app/ntsb/california/{file}/Victims.csv"
    crashes = pd.read_csv(crashes_path)
    parties = pd.read_csv(parties_crash)
    victims = pd.read_csv(victims_path)
    break

In [ ]:

class InjuryAccident(models.Model):
    id = models.AutoField(primary_key=True)
    state = models.ForeignKey(State, on_delete= models.DO_NOTHING)
    state_accident_id = models.PositiveBigIntegerField(null=False, blank=False)
    dt = models.DateTimeField(null=False, blank=False)
    latitude = models.DecimalField(null=True, blank=True, decimal_places=7, max_digits=10)
    longitude = models.DecimalField(null=True, blank=True, decimal_places=7, max_digits=10)
    city = models.TextField(null=True, blank=True)
    county = models.TextField(null=True, blank=True)
    street_1 = models.TextField(null=True)
    street_2 = models.TextField(null=True)
    crash_type = models.TextField(null=True, blank=True)
    death_count = models.PositiveSmallIntegerField(null=True, blank=True)
    severe_injury_count = models.PositiveSmallIntegerField(null=True, blank=True)
    def map_link(self):
        return f"<a href='https://www.google.com/maps/search/?api=1&query={self.latitude},{self.longitude}'>({self.latitude}, {self.longitude})</a>"

class InjuryVehicle(models.Model):
    injury_accident = models.ForeignKey(InjuryAccident, on_delete=models.CASCADE)
    vehicle_number = models.PositiveSmallIntegerField(null=False, blank=False)
    make = models.TextField(null=True, blank=True)
    model = models.TextField(null=True, blank=True)
    body_type = models.TextField(null=True, blank=True)
    violation = models.TextField(null=True, blank=True)
    hit_and_run = models.BooleanField(default=False)

class InjuryPerson(models.Model):
    injury_accident = models.ForeignKey(InjuryAccident, on_delete=models.CASCADE)
    injury_vehicle = models.ForeignKey(InjuryVehicle, null=True, blank=True, on_delete = models.CASCADE)
    age = models.PositiveSmallIntegerField(null = True, blank = True)
    #p6 
    sex = models.CharField(max_length=64, null=True, blank=True)
    person_type = models.CharField(max_length=256,null=True, blank=True)
    #p8 injury_severity
    injury_severity_choices = [
        (0, 'No Apparent Injury (O)'),
        (1, 'Possible Injury (C)'),
        (2, 'Suspected Minor Injury (B)'),
        (3, 'Suspected Serious Injury (A)'),
        (4, 'Fatal Injury (K)'),
        (5, 'Injured, Severity Unknown (U) (Since 1978)'),
        (6, 'Died Prior to Crash'),
        (9, 'Unknown/Not Reported')
    ]			
    injury_severity = models.PositiveSmallIntegerField(choices=injury_severity_choices, default=9)

# get collisions table

In [ ]:
select case_id, primary_road, secondary_road, collision_date, collision_time, county_location, type_of_collision, killed_victims, injured_victims, latitude, longitude from collisions where (collision_date < "2014-01-01") AND (collision_severity = "fatal" or collision_severity = "severe injury");

In [ ]:
select parties.case_id, parties.party_number, parties.party_type, parties.party_age, parties.party_sex, parties.vehicle_year, parties.vehicle_make, parties.statewide_vehicle_type from parties LEFT JOIN collisions on collisions.case_id = parties.case_id where collisions.collision_date < "2014-01-01" and (collisions.collision_severity = "fatal" or collisions.collision_severity = "severe injury");

In [ ]:
select victims.case_id, victims.party_number, victims.victim_degree_of_injury, victims.victim_age, victims.victim_sex, victims.victim_role from victims LEFT JOIN collisions on collisions.case_id = victims.case_id where collisions.collision_date < "2014-01-01" and (collisions.collision_severity = "fatal" or collisions.collision_severity = "severe injury");