In [23]:
import pandas as pd
# Set the option to display all columns
pd.set_option('display.max_columns', None)

In [66]:
for year in range(2005, 2025):
    crashes = pd.read_csv(f"/home/tonydeals/Downloads/penn/CRASH_{year}.csv")
    vehicles = pd.read_csv(f"/home/tonydeals/Downloads/penn/VEHICLE_{year}.csv")
    persons = pd.read_csv(f"/home/tonydeals/Downloads/penn/PERSON_{year}.csv")
    roadways = pd.read_csv(f"/home/tonydeals/Downloads/penn/ROADWAY_{year}.csv")

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024

In [49]:
crashes = pd.read_csv("/home/tonydeals/Downloads/penn/CRASH_2024.csv")
vehicles = pd.read_csv("/home/tonydeals/Downloads/penn/VEHICLE_2024.csv")
persons = pd.read_csv("/home/tonydeals/Downloads/penn/PERSON_2024.csv")
roadways = pd.read_csv("/home/tonydeals/Downloads/penn/ROADWAY_2024.csv")

In [62]:
severe_crash_ids = persons[(persons["INJ_SEVERITY"]==1) | (persons["INJ_SEVERITY"]==2)]['CRN']
crashes = crashes[crashes['CRN'].isin(severe_crashes)]
crashes = crashes[['CRN', 'DEC_LATITUDE', 'DEC_LONGITUDE', 'COUNTY', 'MUNICIPALITY', 'CRASH_MONTH', 'DAY_OF_WEEK', 'HOUR_OF_DAY','TIME_OF_DAY', 'SUSP_SERIOUS_INJ_COUNT', 'FATAL_COUNT', 'COLLISION_TYPE']]
vehicles = vehicles[vehicles['CRN'].isin(severe_crashes)]
vehicles = vehicles[['CRN', 'UNIT_NUM', 'BODY_TYPE', 'VEH_TYPE', 'UNIT_TYPE', 'MODEL_YR', 'MAKE_CD', 'NON_MOTORIST', 'VINA_BODY_TYPE_CD', 'DVR_PRES_IND']]
persons = persons[persons['CRN'].isin(severe_crashes)]
persons = persons[['CRN', 'AGE', 'SEX', 'INJ_SEVERITY', 'UNIT_NUM', 'PERSON_TYPE']]
roadways = roadways[roadways['CRN'].isin(severe_crashes)]
roadways = roadways[['CRN', "STREET_NAME"]]

In [ ]:
crashes.to_csv("/home/tonydeals/app/ntsb/pennsylvania/crash_2024.csv")

In [63]:
crashes

,CRN,DEC_LATITUDE,DEC_LONGITUDE,COUNTY,MUNICIPALITY,CRASH_MONTH,DAY_OF_WEEK,HOUR_OF_DAY,TIME_OF_DAY,SUSP_SERIOUS_INJ_COUNT,FATAL_COUNT,COLLISION_TYPE
23,2024006464,39.904514,-75.224183,67,67301,1,3,NaN,NaN,1,0,6
25,2024006565,40.354845,-76.399774,38,38209,1,2,NaN,NaN,1,0,4
37,2024000999,41.145412,-75.916676,40,40226,1,4,NaN,NaN,1,0,2
53,2024006794,40.244006,-75.613594,46,46416,1,1,NaN,NaN,1,0,8
138,2024004598,40.128503,-75.115510,46,46101,1,4,NaN,NaN,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
110752,2025002058,39.985319,-75.211978,67,67301,12,1,NaN,NaN,1,0,6
110753,2025001604,41.028198,-75.962991,40,40204,11,6,NaN,NaN,1,0,5
110759,2025009117,40.637833,-75.490000,39,39102,8,5,NaN,NaN,1,0,7
110798,2025043500,39.993394,-75.150358,67,67301,8,5,NaN,NaN,1,0,8
110803,2025004627,40.310417,-79.537778,64,64302,12,2,NaN,NaN,1,0,8

In [64]:
vehicles

,CRN,UNIT_NUM,BODY_TYPE,VEH_TYPE,UNIT_TYPE,MODEL_YR,MAKE_CD,NON_MOTORIST,VINA_BODY_TYPE_CD,DVR_PRES_IND
75,2024085118,1,29.0,2.0,1,2021.0,KAWK,0,M,1.0
76,2024085118,2,9.0,1.0,1,2021.0,NISS,0,P,1.0
106,2024084294,1,75.0,5.0,1,2004.0,PTRB,0,TTR,1.0
107,2024084294,2,4.0,1.0,1,2006.0,HOND,0,P4D,1.0
108,2024084294,3,69.0,6.0,1,2021.0,CHEV,0,T,1.0
...,...,...,...,...,...,...,...,...,...,...
197358,2024039686,1,4.0,1.0,1,2012.0,NISS,0,P4D,1.0
197430,2024046928,1,51.0,4.0,1,2010.0,CHEV,0,TCW,1.0
197431,2024046928,2,23.0,13.0,1,2005.0,YAMA,0,MMX,1.0
197494,2024090342,1,4.0,1.0,1,2016.0,NISS,0,P4D,1.0
197495,2024090342,2,28.0,2.0,1,2003.0,SUZI,0,MRC,1.0

In [65]:
persons

               CRN  AGE SEX  INJ_SEVERITY  UNIT_NUM  PERSON_TYPE
35      2024087778   42   M           2.0         1          1.0
55      2025023771   21   M           2.0         1          1.0
57      2024028576   72   F           1.0         1          7.0
58      2024028576   85   M           0.0         2          1.0
140     2024077045   17   M           0.0         1          1.0
...            ...  ...  ..           ...       ...          ...
244148  2024099036   39   M           2.0         1          1.0
244149  2024099036   23   M           3.0         2          1.0
244150  2024099036   30   F           0.0         3          1.0
244157  2024068275   17   F           8.0         1          1.0
244158  2024068275   19   M           1.0         1          2.0

[12065 rows x 6 columns]